# Virtual environments
.venv/

# Data
mock_dataset.csv
data/
data/*

# Python
__pycache__
test/__pycache__
.pytest_cache
pykan/pykan.egg-info
./pykan/pykan.egg-info/PKG-INFO
pykan/pykan.egg-info/SOURCES.txt
pykan/pykan.egg-info/dependency_links.txt
pykan/pykan.egg-info/top_level.txt

# Logs
log.*
hpo_results/hpo_log.txt
logs/

# Submit scripts
submit.*
RUN_train_ann.sh
RUN_optim_ann.sh

# HPO results
hpo_results/*

# Saved models 
models/
